
# outputs from `prime eval run`
./outputs
*__pycache*
environments/num_seq_env/.prime
environments/CausalExplorerEnv/outputs/*
test_optimal_steps.py
*/*/.prime/
*/*/dist/
test_dataset_determinism*
validate_eval_result*
tests*
docs/
rollout_rewards.sh